@import url('./main.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.perrosBusqueda {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-items: center;
}

.perro {
    display: flex;
    border: 2px solid black;
    border-radius: 20px;
    margin: 1rem;
    width: 15vw;
    padding: 1em;
    background-color: rgb(172, 211, 211);
    overflow: hidden;
    min-width: 20em;
}

.perro > h2 {
    align-self: center;
    justify-self: flex-end;
    margin-left: 1em;
    border: 2px black solid;
    border-radius: 0.2em;
    padding: 0.3em;
    min-width: 4em;
    background-color: rgb(114, 160, 202);
}

table.search_table {
    width: 70vw;
    font-size: 1.3em;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 1.5rem;
    border-collapse: collapse;
    table-layout: fixed;
}

table.search_table th {
    background-color: #3e4e50;
    padding: 0.7em;
    flex-direction: row;
    border-collapse: collapse;
    color: whitesmoke;
}

table.search_table tr:nth-child(odd) {
    background-color: rgb(238, 233, 227);
}

table.search_table td {
    border-left: 1px solid black;
    padding: 0.4rem;
}

table.search_table button {
    padding: 0.3rem;
    box-shadow: 1, 5px 1px 1px rgb(56, 56, 56);
    background-color: #3e4e50;
    color: whitesmoke;
}

main {
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
}

form.search_form {
    font-size: 1.5em;
    margin: 1em 1em 1.5em 1em;
}

.search_form button {
    margin: 0.5rem;
    padding: 0.3em;
    font-size: 0.6em;
}

.search_form input {
    width: 15vw;
    min-width: 15rem;
    font-size: 0.7em;
}

div.info_container {
    display: flex;
    flex-direction: column;
}

@media (max-width: 900px) {
    main {
        font-size: 0.7em;
    }
    button {
        font-size: 00.7em;
        width: 7vw;
    }
}

@media (max-width: 700px) {
    main {
        font-size: 0.5em;
    }
    button {
        font-size: 00.7em;
        width: 7vw;
    }
}
