@import url('./main.css');

main {
    text-align: start;
    font-family: 'Roboto';
}
div.info_container {
    display: flex;
    gap: 1rem;
}

div.delete-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1rem;
    padding: 1em;
    background-color: whitesmoke;
    box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
        0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
        0 12.3px 17.9px rgba(0, 0, 0, 0.072),
        0 11.8px 8.4px rgba(0, 0, 0, 0.086), 10px 20px rgba(0, 0, 0, 0.12);
    height: fit-content;
    border-radius: 10px;
    border: 2px solid black;
}

div.delete-container button {
    background-color: rgb(187, 33, 33);
    color: white;
    height: 2em;
    font-size: 1.2em;
    border-radius: 10px;
    width: 50%;
    position: relative;
    left: 25%;
}

@media (max-width: 500px) {
    .main_info {
        display: flex;
        flex-direction: column;
    }
}

div.info_container li {
    font-size: 1.2em;
    padding: 0.3em;
}

ul.datos-Perro li:first-of-type,
ul.datos-prop li:first-of-type {
    font-size: 1.5em;
    font-weight: 500;
}

.main_info {
    display: flex;
}

.clin_di {
    display: flex;
    margin: 1rem;
}

.clin_di li {
    font-size: 1.2em;
    padding: 0.3em;
}

.clin_di ul {
    display: flex;
    max-width: 40vw;
    flex-wrap: wrap;
}

details {
    margin: 1.3rem 0;
    padding: 0.5rem;
    height: auto;
    max-height: 1.5rem; /* set to line heihgt */
    transition: all 0.1s ease;
}

details[open] {
    max-height: 150rem;
    transition: all 1s ease;
    border: 1px solid #aaa;
    background-color: whitesmoke;
}

details summary {
    font-weight: bold;
    cursor: pointer;
    margin-bottom: 0.5em;
    font-weight: bold;
    margin: -0.5em -0.5em 0;
    padding: 0.5em;
}

details[open] summary {
    border-bottom: 1px solid #aaa;
    margin-bottom: 0.8em;
}

form h2 {
    margin: 1em;
    font-size: 1.5em;
}
.container-analisis label {
    font-size: 1.15em;
}

@media (max-width: 700px) {
    main {
        font-size: 0.5em;
    }
    button {
        font-size: 00.7em;
        width: 7vw;
    }

    text-area {
        width: 10px;
    }
}

@media (max-width: 500px) {
    .main_info {
        display: flex;
        flex-direction: column;
    }
    details {
        max-width: 50vw;
    }
}
