@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto';
}

.cabecera {
    padding: 1rem;
    border-bottom: 2px solid black;
    background-color: #3e4e50;
}

.cabecera h1 {
    font-size: 2.5em;
    letter-spacing: 1.5px;
    color: white;
}

.cabecera > nav {
    display: flex;
    font-size: 1.5em;
    margin-top: 0.8em;
    justify-content: space-evenly;
    letter-spacing: 1.5px;
}

.cabecera > nav > a {
    text-decoration: none;
    color: whitesmoke;
}

main {
    background: #facfad;
    margin: 0 3em 0 3em;
    text-align: center;
    box-shadow: 3px 2px 2px rgb(126, 126, 126);
    padding: 1em;
    width: auto;
}

main > h2 {
    margin-top: 1em;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
}

.container-personal {
    display: flex;
    justify-content: center;
    list-style: none;
    gap: 2.5em;
    margin: 2em;
    width: fit-content;
}

@media (max-width: 700px) {
    .container-personal {
        flex-direction: column;
    }
    textarea {
        width: 70vw;
    }
}

ul {
    list-style: none;
}

.container-personal input {
    margin: 4px;
    border-radius: 4px;
    width: fit-content;
}

.container-analisis {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 1.5em;
    width: fit-content;
}

.race {
    margin-right: 1.4em;
}

button.form-button {
    padding: 0.5em;
    border-radius: 10px;
    margin: 1em;
    background-color: #3e4e50;
    width: fit-content;
    color: whitesmoke;
    font-size: 1.2em;
}

input {
    padding: 10px;
    border: 0;
    box-shadow: 0 0 15px 4px rgba(0, 0, 0, 0.06);
}
